<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>RevShopRevature</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.revshop.controllers.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revshop.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddServlet</display-name>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>com.revshop.controllers.ProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/ProductAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductMaintenanceServlet</display-name>
    <servlet-name>ProductMaintenanceServlet</servlet-name>
    <servlet-class>com.revshop.controllers.ProductMaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductMaintenanceServlet</servlet-name>
    <url-pattern>/ProductMaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteServlet</display-name>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>com.revshop.controllers.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/ProductDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditServlet</display-name>
    <servlet-name>ProductEditServlet</servlet-name>
    <servlet-class>com.revshop.controllers.ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditServlet</servlet-name>
    <url-pattern>/ProductEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstTimeRegistrationSellerServlet</display-name>
    <servlet-name>FirstTimeRegistrationSellerServlet</servlet-name>
    <servlet-class>com.revshop.controllers.FirstTimeRegistrationSellerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstTimeRegistrationSellerServlet</servlet-name>
    <url-pattern>/FirstTimeRegistrationSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailRegistration</display-name>
    <servlet-name>DetailRegistration</servlet-name>
    <servlet-class>com.revshop.controllers.DetailRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailRegistration</servlet-name>
    <url-pattern>/DetailRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailRegistrationServlet</display-name>
    <servlet-name>DetailRegistrationServlet</servlet-name>
    <servlet-class>com.revshop.controllers.DetailRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailRegistrationServlet</servlet-name>
    <url-pattern>/DetailRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdateServlet</display-name>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <servlet-class>com.revshop.controllers.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <url-pattern>/ProductUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsServlet</display-name>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <servlet-class>com.revshop.controllers.ProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsServlet</servlet-name>
    <url-pattern>/ProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.revshop.controllers.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.revshop.controllers.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.revshop.controllers.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartUpdateServlet</display-name>
    <servlet-name>CartUpdateServlet</servlet-name>
    <servlet-class>com.revshop.controllers.CartUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartUpdateServlet</servlet-name>
    <url-pattern>/CartUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDeleteProductServlet</display-name>
    <servlet-name>CartDeleteProductServlet</servlet-name>
    <servlet-class>com.revshop.controllers.CartDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDeleteProductServlet</servlet-name>
    <url-pattern>/CartDeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavriouteAddServlet</display-name>
    <servlet-name>FavriouteAddServlet</servlet-name>
    <servlet-class>com.revshop.controllers.FavriouteAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavriouteAddServlet</servlet-name>
    <url-pattern>/FavriouteAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavriouteServletMain</display-name>
    <servlet-name>FavriouteServletMain</servlet-name>
    <servlet-class>com.revshop.controllers.FavriouteServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavriouteServletMain</servlet-name>
    <url-pattern>/FavriouteServletMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavriouteDeleteServlet</display-name>
    <servlet-name>FavriouteDeleteServlet</servlet-name>
    <servlet-class>com.revshop.controllers.FavriouteDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavriouteDeleteServlet</servlet-name>
    <url-pattern>/FavriouteDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.revshop.controllers.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServletMain</display-name>
    <servlet-name>OrderServletMain</servlet-name>
    <servlet-class>com.revshop.controllers.OrderServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServletMain</servlet-name>
    <url-pattern>/OrderServletMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewAddServlet</display-name>
    <servlet-name>ReviewAddServlet</servlet-name>
    <servlet-class>com.revshop.controllers.ReviewAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewAddServlet</servlet-name>
    <url-pattern>/ReviewAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccountServlet</display-name>
    <servlet-name>UserAccountServlet</servlet-name>
    <servlet-class>com.revshop.controllers.UserAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountServlet</servlet-name>
    <url-pattern>/UserAccountServlet</url-pattern>
  </servlet-mapping>
</web-app>